<button class="hamburger" (click)="toggleMenu()">
	<span></span>
	<span></span>
	<span></span>
</button>
<div class="sidebar" [class.open]="menuOpen">
	
	<div class="nav-item active">
		<i class="bx bx-home"></i>
	</div>
	<div class="nav-item" (click)="toggleSearch()">
		<i class="bx bx-search"></i>
	</div>
	<div class="nav-item">
		<i class="bx bx-film"></i>
	</div>
	<div class="nav-item">
		<i class="bx bx-play-circle"></i>
	</div>
	<div class="nav-item">
		<i class="bx bx-heart"></i>
	</div>
	<div class="nav-item">
		<i class="bx bx-user"></i>
	</div>
</div>

<div class="search-overlay" *ngIf="showSearch">
    <app-search></app-search>
    <button class="close-btn" (click)="toggleSearch()">Close</button>
</div>

<div class="main-content">
	<div class="header">
		<video muted class="background-video" id="backgroundVideo">
			<source src="https://assets.codepen.io/252820/MH-Netflix.mp4" type="video/mp4">
			Your browser does not support the video tag.
		</video>

		<div class="header-info">
			<div class="netflix-series">
				<img src="https://assets.codepen.io/252820/image.png" alt="Netflix N" />
				<span class="series-text">SERIES</span>
			</div>
			<h1><span class="title-money">Money</span> <span class="title-heist">Heist</span></h1>
			<p>
				<img src="https://assets.codepen.io/252820/imdb.png" alt="IMDb" /> 8.8/10
			</p>
			<p><strong><span class="count">2B+</span> Streams</strong></p>
			<div class="button-group">
				<a href="https://www.youtube.com/embed/_InqQJRqGW4?autoplay=1&fs=1" class="btn play">Play</a>
				<a href="#" class="btn trailer" id="watchTrailer">Watch Trailer</a>
			</div>
		</div>
	</div>
	
	<div class="section new-this-week">
		<h2>Available</h2>
		<div class="scrollable-row">
		  <div 
			class="poster" 
			*ngFor="let movie of availableMovies"
		  >
			<img
			  class="poster-portrait"
			  style="width: 200px;"
			  [src]="movie.poster"
			  alt="{{ movie.poster }}"
			  (click)="goWatchFromHome(movie.fileName)"
			/>
			
		  </div>
		</div>
	</div>

	<div class="section new-this-week">
		<h2>Trending</h2>
		<div class="scrollable-row">
		  <div 
			class="poster" 
			*ngFor="let movie of movies"
		  >
			<img
			  class="poster-portrait"
			  [src]="'https://media.themoviedb.org/t/p/w220_and_h330_face' + movie.poster_path"
			  alt="{{ movie.title }}"
			  (click)="goWatchFromHome(movie.title)"
			/>
		  </div>
		</div>
	</div>
</div>